################################################################################
# Visual Studio
################################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

################################################################################
# Build Folders
################################################################################

bin/
obj/
Debug/
Release/

################################################################################
# Rider
################################################################################

.idea/

################################################################################
# ASP.NET / .NET
################################################################################

*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc

# Publish output
publish/

# npm / node
node_modules/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.dbmdl
*.bak
*.backup
*.swp
*.swo
*.userprefs
*.DS_Store

